<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Conformar Grupos'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">Complete los siguientes datos para conformar los grupos:</span>

      <div _ngcontent-wql-c3="" class="auth-box contenido1">
       
        <div class="row">

          <label _ngcontent-qfj-c2="" class="col-7 col-sm-2 col-form-label" for="example-text-input">Evento</label>
          <div _ngcontent-qfj-c2="" class="col-5 col-sm-5 divisor1">
              <select id="even" [disabled]='eventos.length==0' name="even" id="even" [(ngModel)]="even" required [class]="ClsEvento" (change)="ClsEvento='form-control'" >
                  <option *ngFor="let item of eventos" value="{{item.id_evento}}">{{item.evento}}</option>
              </select>
          </div>
          
            <label _ngcontent-qfj-c2="" class="col-7 col-sm-3 col-form-label" for="example-text-input">Estudiantes por grupo</label>
            <div _ngcontent-qfj-c2="" class="col-5 col-sm-2 divisor1">
              <input _ngcontent-qfj-c2="" [disabled]='eventos.length==0' [class]="ClsParticipantes" autocomplete="off" [disabled]="creados || guardado" (change)="ClsParticipantes='form-control'; valparti()" onkeypress='return event.charCode >= 51 && event.charCode <= 57' maxlength="1"
              name="participantes" id="participantes" [(ngModel)]="participantes" placeholder="Ingrese valor" type="text">
            </div>

            <div _ngcontent-qfj-c2="" class="col-12 col-sm-6 divisor1"></div>
            <div _ngcontent-qfj-c2="" class="col-12 col-sm-12 divisor1">
              <span class="feed">Agregue las restricciones por grupo:</span>
            </div>
            

              <label _ngcontent-qfj-c2="" class="col-6 col-sm-2 col-form-label " for="example-text-input">Carrera</label>
              <div _ngcontent-qfj-c2="" class="col-6 col-sm-4 divisor2">
                <select id="carrera" name="carrera" id="carrera" [disabled]="participantes==''|| guardado" [(ngModel)]="carrera" required [class]="ClsCarrera" (change)="ClsCarrera='form-control'" >
                  <option *ngFor="let item of Array_Carrera" [disabled]="item.estado" value="{{item.nombre}}">{{item.nombre}}</option>
                </select>              
              </div>
  
              <label _ngcontent-qfj-c2="" class="col-7 col-sm-2 col-form-label " for="example-text-input">N° de estudiantes</label>
              <div _ngcontent-qfj-c2="" class="col-5 col-sm-2 divisor2">
                <input _ngcontent-qfj-c2="" [class]="ClsCantidad" [disabled]="participantes=='' || guardado" class=" ClsCantidad"onkeypress='return event.charCode >= 49 && event.charCode <= 57' maxlength="1"
                name="cantidad" id="cantidad" [(ngModel)]="cantidad" placeholder="Ingrese valor" (change)="ClsCantidad='form-control'" type="text">
              </div>
              
              <div _ngcontent-wql-c3="" class="auth-box contenido3 col-sm-2">
                <button _ngcontent-qfj-c5="" (click)="agregarR()" *ngIf="!participantes=='' && !guardado && !creados" class="btn btn-success guarda"><i _ngcontent-qfj-c5="" class="icofont icofont-ui-add"></i>Agregar</button>
                <button _ngcontent-qfj-c5="" *ngIf="participantes=='' || guardado || creados" class="btn btn-success guarda disabled"><i _ngcontent-qfj-c5="" class="icofont icofont-ui-add"></i>Agregar</button>
              </div>
              <div _ngcontent-wql-c3="" class="col-sm-8 auth-box contenido2">
                <span class="feed">Restricciones agregadas:</span>
        
                <div class="table-responsive tabla">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Carrera</th>
                        <th>N° de estudiantes</th>
                        <th>Opciones</th>
          
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of CarreraCon | ordenar: '-grupo'">
                        <td>{{item.nombre}}</td>
                        <td class="text-center">{{item.cantidad}} </td>
                        <td class="text-center">
                          <button _ngcontent-acp-c8="" *ngIf="!guardado" (click)="eliminarR(item.posi,item.nombre,item.cantidad)" class="btn btn-warning btn-outline-warning btn-icon botonedi"><i _ngcontent-acp-c8="" class="icofont icofont-trash icono"></i></button>
                          <button _ngcontent-acp-c8="" *ngIf="guardado" class="btn btn-warning btn-outline-warning btn-icon botonedi disabled"><i _ngcontent-acp-c8="" class="icofont icofont-trash icono"></i></button>                        
                        </td>        
                      </tr>
          
                    </tbody>
                  </table>
                </div>
        
                <div _ngcontent-wql-c3="" class="row m-t-30"></div>
              
              </div>
              

          
          
          
          <div _ngcontent-wql-c3="" class="col-md-12">
            <button _ngcontent-wql-c3=""
            class="btn btn-success  btn-block" type="button" *ngIf="!creados && !guardado &&  !ValR  && eventos.length!=0" (click)="conformar()">Conformar Grupos</button>
          
            <button _ngcontent-wql-c3=""
            class="btn btn-success  btn-block disabled" type="button" disabled *ngIf="creados || guardado || ValR || eventos.length==0" >Conformar Grupos</button>

          </div>
            
        </div>
                
        <div _ngcontent-wql-c3="" class="row m-t-30"></div>
       
      </div>

     
      <div _ngcontent-wql-c3="" class="auth-box contenido2">
        <span class="feed">Previsualización de los grupos conformados:</span>

        <div class="table-responsive tabla">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Grupo</th>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Carrera</th>
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Gestu">
                <th scope="row">{{item.grupo}}</th>
                <td>{{item.nombres}} {{item.apellidos}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.carrera}}</td>
  
              </tr>
  
            </tbody>
          </table>
        </div>

        <div _ngcontent-wql-c3="" class="row m-t-30"></div>

        <button _ngcontent-qfj-c5="" (click)="guardar()" *ngIf="conformado && !creados && !guardado"  class="btn btn-success guarda"><i _ngcontent-qfj-c5="" class="icofont icofont-save"></i>Guardar Grupos</button>
      
        <button _ngcontent-qfj-c5=""  *ngIf="conformado && !creados && guardado " class="btn btn-success guarda disabled"><i _ngcontent-qfj-c5="" class="icofont icofont-save"></i>Guardar Grupos</button>

      </div>

    </app-card>

  </div>
</div>