.guarda{
    float: right !important;
    margin-bottom: 20px;
    padding: 7px 19px;
}
.TxtError{
    //border-color: rgb(218, 13, 13) !important;
    box-shadow: 0 0 0px 1px rgba(243, 26, 26, 0.829) !important;
  }
.botonedi{
    border-radius: 0%;
    width: 30px;
    height: 30px;
    padding: 0px 5px;
}
.icono{
    margin-right: 0px;
}

.boton{
 margin-left: 15px;
}