.guarda{
    float: right !important;
    margin-bottom: 20px;
    padding: 7px 19px;
}
.contenido1{
    padding-bottom: 0px;
    padding-top: 0px;
}
.contenido2{
    padding-top: 0px;
}
.contenido3{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.tabla{
    margin-top: 10px ;
}
.divisor1{
    margin-bottom: 10px;
}
.divisor2{
    margin-bottom: 20px;
}
.TxtError{
    //border-color: rgb(218, 13, 13) !important;
    box-shadow: 0 0 0px 1px rgba(243, 26, 26, 0.829) !important;
  }
.feed{
    color: #919aa3;
    display: block;
    font-size: 13px;
    margin-top: 5px;
}

.botonedi{
    border-radius: 0%;
    width: 30px;
    height: 30px;
    padding: 0px;
}
.icono{
    margin-right: 0px;
}