<div class="row">
    <div class="col-sm-12">
      
        <app-card [title]="'Registro de Eventos'" [classHeader]="true" [blockClass]="'table-border-style'">
            <span class="code-header">Complete los siguientes datos para registrar un evento:</span>
      
            <div _ngcontent-wql-c3="" class="auth-box contenido1">
             
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">
                
                  <label _ngcontent-qfj-c2="" class="col-5 col-sm-2 col-form-label" for="example-text-input">Nombre</label>
                  <div _ngcontent-qfj-c2="" class="col-7 col-sm-4 divisor">
                    <input _ngcontent-qfj-c2="" [class]="ClsEvento" autocomplete="off"  (change)="ClsEvento='form-control'" 
                    name="evento" id="evento" [(ngModel)]="evento" placeholder="Ingrese el nombre" type="text">
                  </div>
      
                  <label _ngcontent-qfj-c2="" class="col-6 col-sm-2 col-form-label " for="example-text-input">Estado</label>
                  <div _ngcontent-qfj-c2="" class="col-6 col-sm-4 divisor">
                      <select id="estado" name="estado" id="estado" [(ngModel)]="estado"  [class]="ClsEstado" (change)="ClsEstado='form-control'" >
                      <option  value="1">Activado</option>
                      <option  value="0">Desactivado</option>
                      </select>              
                  </div>

                  <label _ngcontent-qfj-c2="" class="col-5 col-sm-2 col-form-label" for="example-text-input">Fecha de inicio</label>
                  <div _ngcontent-qfj-c2="" class="col-7 col-sm-4 divisor">
                  <input _ngcontent-qfj-c2="" [min]="fechaActual" [class]="ClsFecha1" autocomplete="off" (change)="ClsFecha1='form-control'"  
                  name="fecha_ini" id="fecha_ini" [(ngModel)]="fecha_ini"  type="date">
                  </div>

                  <label _ngcontent-qfj-c2="" class="col-5 col-sm-2 col-form-label" for="example-text-input">Fecha de fin</label>
                  <div _ngcontent-qfj-c2="" class="col-7 col-sm-4 divisor">
                  <input _ngcontent-qfj-c2="" [min]="fechaActual" [class]="ClsFecha2" autocomplete="off" (change)="ClsFecha2='form-control'"  
                  name="fecha_fin" id="fecha_fin" [(ngModel)]="fecha_fin" placeholder="Ingrese la fecha" type="date">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="text-input" class="col-5 col-sm-2 col-form-label"> Foto</label>
                    <img height="200" class="tamanio" [src]="url"  alt=""> 
                    <div class="col-md-9">
                      <input type='file' id="foto" name="foto" [class]="ClaseFoto" (change)="onSelectFile($event)"> 
                    </div>
                  </div>
                  <div _ngcontent-wql-c3="" *ngIf="actualizar" class="auth-box contenido3 col-sm-12">
                    <button _ngcontent-qfj-c5=""  (click)="nuevo()"  class="btn btn-warning boton"><i _ngcontent-qfj-c5="" class="icofont icofont-ui-add"></i>Nuevo Evento</button>  
                    <button _ngcontent-qfj-c5=""  (click)="Actualizar()"  class="btn btn-success boton"><i _ngcontent-qfj-c5="" class="icofont icofont-refresh"></i>Actualizar Evento</button>
                  </div>

                  <div _ngcontent-wql-c3="" *ngIf="!actualizar" class="auth-box contenido3 col-sm-12">
                      <button _ngcontent-qfj-c5=""  (click)="Registrar()"  class="btn btn-success boton"><i _ngcontent-qfj-c5="" class="icofont icofont-ui-add"></i>Registrar Evento</button>
                  </div>
                               
                </div>
              </form>        
             
            </div>
      
        </app-card>

        <app-card [title]="'Eventos Registrados'" [classHeader]="true" [blockClass]="'table-border-style'">
          <span class="code-header">Información de los eventos registrados.</span>
          <div _ngcontent-wql-c3="" class="auth-box contenedor">                 
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr class="text-center">
                  <th>Evento</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of array_eventos | paginate: { itemsPerPage: 10, currentPage: p } " >
                    <td>{{item.evento}}</td>
                    <td class="text-center">{{item.fecha_inicio}}</td>
                    <td class="text-center">{{item.fecha_fin}}</td>
                    <td class="text-center" *ngIf="item.estado">Activado</td>
                    <td class="text-center" *ngIf="!item.estado">Desactivado</td>
                    <td class="text-center">
                        <button _ngcontent-acp-c8="" (click)="editar(item.id_evento,item.evento,item.fecha_inicio,item.fecha_fin,item.estado,item.imagen)" class="btn btn-success btn-outline-success btn-icon botonedi"><i _ngcontent-acp-c8="" class="icofont icofont-pencil-alt-5 icono"></i></button>
                        <button _ngcontent-acp-c8="" (click)="eliminar(item.id_evento,item.evento)" class="btn btn-warning btn-outline-warning btn-icon botonedi"><i _ngcontent-acp-c8="" class="icofont icofont-trash icono"></i></button>                        
                    </td>  
                  </tr>
              
                </tbody>
              </table>
              <pagination-controls *ngIf="array_eventos.length!=0" (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </app-card>
      
    </div>
  </div>