.divisor{
    margin-bottom: 20px;
}
.TxtError{
    //border-color: rgb(218, 13, 13) !important;
    box-shadow: 0 0 0px 1px rgba(243, 26, 26, 0.829) !important;
}
.contenido3{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    
}
.boton{
    float: right !important;
    margin-bottom: 20px;
    padding: 7px 19px;
}